name: Test Workflow Setup

on:
  workflow_dispatch:  

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print success message
        run: echo "The pipeline has been successfully launched!"
